html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
  font-family: "Sansita Swashed", cursive;
}

/* main page */

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px 0;
  background: #2e497c;
}

.logo {
  font-weight: 400;
  margin: 0;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-list li {
  text-align: center;
  margin: 15px auto;
  display: inline-block;
}
.nav-list li a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  transition: all 2s;
  display: block;
  padding: 15px;
  position: relative;
}
.nav-list li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  margin: 0;
  opacity: 0;
  transition: all 0.5s;
}
.nav-list li a:hover {
  color: #2e497c;
  z-index: 1;
}
.nav-list li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: rgb(82, 198, 252);
  }
}
.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  padding-bottom:15px;
  border-bottom: 1px solid #d7d8d8;
  color:#2e497c;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:  #2e497c;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  border:#fff;
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color:rgb(82, 198, 252);
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}



.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2e497c;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
/*
rating component
*/
input[type='radio']{
  display: none;
}
.star{
  cursor: pointer;
  transition: color 200ms;
}
